﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Challenge1.Models.Contact
@{
    ViewData["Title"] = $"Контакт {Model.Id}" ;
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h3>Контакст @Model.Id</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td>Номер телефона</td>
            <td>Адрес</td>
            <td>Описание</td>
            <td></td>
        </tr>
            <tr>
                <td>@Model.Id</td>
                <td>@Model.LastName</td>
                <td>@Model.FirstName</td>
                <td>@Model.SurName</td>
                <td>@Model.PhoneNumber</td>
                <td>@Model.Address</td>
                <td>@Model.Description</td>
            </tr>
    </table>
    <a asp-action="Index"><input type="button" value="Home"></a>
</body>
</html>
