﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<Challenge1.Models.Contact>
@{
    ViewData["Title"] = "Список контактов";
    Layout = null;
}
<!DOCTYPE html>
 
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h3>Контакты</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>Фамилия</td>
            <td>Имя</td>
            <td>Отчество</td>
            <td></td>
        </tr>
        @foreach (var contact in Model)
            {
            <tr>
                <td><a asp-controller="PhoneBook" asp-action="ContactPage" asp-route-id="@contact.Id">@contact.Id</a></td>
                <td>@contact.LastName</td>
                <td>@contact.FirstName</td>
                <td>@contact.SurName</td>
            </tr>
        }
    </table>
</body>
</html>